* {
    margin: 0;

}

.header {
    background-color: aquamarine;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
    font-family: 'Roboto Slab', serif;
}

.bio-box {
    background-color: black;
    height: 400px;
    float: left;
    width: 70%;
}

.bio-pic {
    float: right;
    width: 30%;
    height: 400px;
}

.bio {
    color: mediumslateblue;
    padding: 50px 50px 50px 50px;
    font-size: 20px;
    line-height: 40px;

}

.mail-icon {
    width: 50px;
    margin: 20px 0px 0px 0px;
}

/* change header background to red when pixel width is less than 600px. god said he made everyone beautiful then who the made u */
@media screen and (max-width: 600px) {
  .header{
    background-color:darkorchid;
  }
  .bio {
  font-size: 2em;
  }
}

html{
  font-size: 16px;
}
